.productPreviewContainer {
  border: 1px solid #e2e2e2;
  border-radius: 12px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1 fr;
  max-height: 560px;
}

.cardImageContainer {
}

img {
  width: 100%;
  max-height: 360px;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}

a {
  padding: 0;
}

.CardFooterContainer {
}

.CardButton {
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid #797878;
  border-radius: 2px;
  background-color: transparent;
  color: #797878;
}

.alignInRow {
}

.titleFooter {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #525050;
}

.priceCategory {
  font-weight: 400;
  font-size: 1rem;
  color: #706e6e;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .viewButton {
    display: none;
  }
  .CardFooterContainer {
    margin: 0 20vh 0 0;
    display: block;
    margin: auto 0;
  }
  .productPreview {
    width: 52%;
    height: 37vh;
    margin: 1rem;
  }

  .productPreview img {
    height: 22vh;
    max-width: 100%;
  }

  .CardButton {
    padding: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;
    width: 50%;
  }

  .titleFooter {
    font-size: 0.6rem;
  }
  .priceCategory {
    font-size: 0.5rem;
  }

  .alignInRow {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* .productPreview {
    width: 23%;
    height: 55vh;
    padding: 0.5vh;
  }
  .CardButton {
    padding: 0.5rem;
    font-size: 0.7rem;
    font-weight: 700;
  }

  .titleFooter {
    font-size: 1.1rem;
  }
  .priceCategory {
    font-size: 0.9rem;
  }*/
}
