.productPreview {
  width: 24%;
  height: 65vh;
  margin: 1rem;
  padding: 1rem;
  box-shadow: 0px 1px 3px 1px #e2e2e2;
  border-radius: 5px;
}
.CardFooterContainer {
  margin: 2vh 0 1vh 0;
  padding: 0 9vh 0 9vh;
}

.CardButton {
  padding: 0.6rem 0.9rem;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  display: block;
  width: 100%;
  border: 1px solid #797878;
  border-radius: 2px;
  background-color: transparent;
  color: #797878;
}

.alignInRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.titleFooter {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #525050;
}

.priceCategory {
  margin-top: 0.5vh;
  font-weight: 400;
  font-size: 1rem;
  color: #706e6e;
}

img {
  height: 40vh;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
